.entry-container {
  width: 50%;
}
#income-container {
  border-top-left-radius: 5px;
  border-bottom: none;
}

#expense-container {
  border-top-right-radius: 5px;
  border-bottom: none;
}

#income,
#expense {
  height: 12rem;
  padding: 1.5rem;
  overflow-y: scroll;
  background-color: white;
  font-size: 1rem;
  text-align: right;
}

#expense {
  border-left: 1px solid var(--main-border-color);
}

#income::-webkit-scrollbar,
#expense::-webkit-scrollbar {
  width: 6px;
}

#income::-webkit-scrollbar-thumb,
#expense::-webkit-scrollbar-thumb {
  background-color: rgb(111, 111, 111);
}

.added {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-right: -10px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: gray;
}

.added span {
  height: 100%;
  line-height: 1.4rem;
}

.dateAndTime {
  width: 25%;
  display: block;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Roboto Mono", "monospace";
}

#description-value {
  width: 35%;
  display: block;
  padding: 0 0.5rem;
  overflow: hidden;
  text-align: left;
}

#amount-value {
  width: 30%;
  display: block;
  padding-left: 0.6rem;
  text-align: right;
  font-size: 0.9rem;
  font-family: "Roboto Mono", "monospace";
  color: rgb(67, 67, 67);
}

#total-income {
  border-top: 1px solid var(--main-border-color);
}

#total-expense {
  border-left: 1px solid var(--main-border-color);
  border-radius: 0;
  border-top: 1px solid var(--main-border-color);
}

#total {
  color: gray;
  font-family: "Roboto Mono", "monospace";
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1.5rem;
  line-height: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.9rem;
  background-color: white;
  color: gray;
}

.total-container span {
  text-align: right;
}
