#input-container {
  height: fit-content;
  width: 98.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
  padding: 1rem 2rem 2rem;
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  background-color: white;
}

#span-container {
  width: 100%;
  padding-left: 9.3%;
  position: relative;
}

#add:active {
  background-color: rgb(60, 175, 108);
  box-shadow: 0 2px 2px rgb(208, 207, 207);
}
