:root {
  --main-border-color: rgb(211, 211, 211);
  --main-background-color: rgb(241, 241, 241);
  --main-text-color: rgb(53, 53, 53);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgb(69, 67, 67);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
}

.App {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  min-width: 420px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  text-align: center;
  color: gray;
  width: 100%;
  font-size: 2rem;
  margin: 2.5rem 0 3.5rem;
}

.main {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid var(--main-border-color);
  border-radius: 2px;
  background-color: white;
  text-align: center;
}

#h3-income,
#h3-expense,
#h3-balance {
  padding: 1rem;
  border-bottom: 1px solid var(--main-border-color);
  color: gray;
  font-size: 1rem;
}

@media only screen and (min-width: 1424px) {
  .App {
    width: 1424px;
  }
}

@media only screen and (max-width: 1410px) {
  .main {
    width: 87%;
  }
}

@media only screen and (max-width: 1255px) {
  .main {
    width: 90%;
  }
}

@media only screen and (max-width: 1210px) {
  .main {
    width: 95%;
  }
}

@media only screen and (max-width: 1152px) {
  :root {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1124px) {
  :root {
    font-size: 1rem;
  }
  .main {
    width: 65%;
  }
}

@media only screen and (max-width: 879px) {
  .main {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 90%;
  }
}
@media only screen and (max-width: 665px) {
  .main {
    width: 95%;
  }
}

@media only screen and (max-width: 589px) {
  :root {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 497px) {
  :root {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 320px) {
  .main {
    min-width: 320px;
  }
}
