:root {
  --main-border-color: rgb(211, 211, 211);
  --main-background-color: rgb(241, 241, 241);
  --main-text-color: rgb(53, 53, 53);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgb(69, 67, 67);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
}

.App {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  min-width: 420px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  text-align: center;
  color: gray;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
}

#input-container {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
  padding: 1rem 2rem 2rem;
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  background-color: white;
}

input,
#add {
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  line-height: 1rem;
}

#description {
  width: 42.1%;
  margin-right: 0.5rem;
  padding: 1rem 1.5rem;
}

#amount {
  width: 20%;
  margin-right: 0.5rem;
  padding: 1rem 1.5rem;
}

.default {
  background: var(--main-background-color);
  color: rgb(53, 53, 53);
  padding: 24px 8px;
  border-bottom: 2px solid transparent;
}

.default:focus {
  border-bottom: 2px solid rgb(69, 69, 69);
}

.red {
  border-bottom: 2px solid rgb(252, 55, 55);
  background: var(--main-background-color);
}

#span-container {
  width: 100%;
  padding-left: 15.5%;
}

.invisible {
  width: 29.33%;
  padding: 0.5rem;
  display: inline-block;
  padding-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  text-align: left;
  font-size: 0.7rem;
  color: transparent;
}

.visible {
  width: 29.5%;
  padding: 0.5rem;
  display: inline-block;
  padding-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  text-align: left;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  background: rgb(74, 74, 74);
  position: relative;
  box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.697);
  border-radius: 2px;
}

.visible::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid rgb(74, 74, 74);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  top: 28px;
  left: 10px;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
}

.custom-dropdown select {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 1rem;
  padding: 1rem;
  padding-right: 2rem;
  outline: none;
  border: 1px solid var(--main-background-color);
  border-radius: 2px;
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance: none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
  display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

#add {
  padding: 17px 1.5rem;
  background-color: rgb(81, 210, 134);
  color: white;
  box-shadow: 0 2px 2px rgb(228, 228, 228);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.01px;
}
#add:active {
  background-color: rgb(60, 175, 108);
  box-shadow: 0 2px 2px rgb(208, 207, 207);
}

::-webkit-input-placeholder {
  color: rgb(201, 201, 201);
}

.main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid var(--main-border-color);
  border-radius: 2px;
  background-color: white;
  text-align: center;
}

.entry-container {
  width: 50%;
}

#h3-income,
#h3-expense,
#h3-balance {
  padding: 1rem;
  border-bottom: 1px solid var(--main-border-color);
  color: gray;
  font-size: 1rem;
}

#income-container {
  border-top-left-radius: 5px;
  border-bottom: none;
}

#expense-container {
  border-top-right-radius: 5px;
  border-bottom: none;
}

#income,
#expense {
  height: 12rem;
  padding: 2rem;
  overflow-y: scroll;
  background-color: white;
  font-size: 1rem;
  text-align: right;
}

#expense {
  border-left: 1px solid var(--main-border-color);
}

#income::-webkit-scrollbar,
#expense::-webkit-scrollbar {
  width: 6px;
}

#income::-webkit-scrollbar-thumb,
#expense::-webkit-scrollbar-thumb {
  background-color: rgb(75, 73, 73);
}

.added {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-right: -10px;
  line-height: 1.5rem;
  font-size: 1rem;
  color: gray;
}

.added span {
  height: 100%;
  line-height: 1.4rem;
}

.dateAndTime {
  width: 30%;
  display: block;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Roboto Mono", "monospace";
}

#description-value {
  width: 30%;
  display: block;
  padding: 0 0.5rem;
  overflow: hidden;
  text-align: left;
}

#amount-value {
  width: 30%;
  display: block;
  padding-left: 0.6rem;
  text-align: right;
  font-size: 0.9rem;
  font-family: "Roboto Mono", "monospace";
  color: rgb(67, 67, 67);
}

.delete {
  width: 1.5rem;
  height: 1.3rem;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.3rem;
  font-size: 0.8rem;
  outline: none;
  color: gray;
  text-align: left;
}

.delete svg {
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 2px;
}
#incometc {
  border-top: 1px solid var(--main-border-color);
}

#expensetc {
  border-left: 1px solid var(--main-border-color);
  border-radius: 0;
  border-top: 1px solid var(--main-border-color);
}

#total {
  color: gray;
  font-family: "Roboto Mono", "monospace";
}

#balance-container {
  width: 100%;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#h3-balance {
  background-color: white;
  border-top: 1px solid var(--main-border-color);
  font-weight: bold;
  color: gray;
  font-size: 1rem;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2rem;
  line-height: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.9rem;
  background-color: white;
  color: gray;
}

.total-container span {
  text-align: right;
}

#login-container {
  width: 60%;
  margin: auto;
}

#total-balance {
  font-weight: bold;
  font-family: "Roboto Mono", "monospace";
}

.default-balance {
  color: rgb(67, 67, 67);
}

.red-balance {
  color: rgb(210, 81, 81);
}

@media only screen and (max-width: 1272px) {
  h1 {
    width: 42%;
  }

  #input-container {
    width: 57%;
  }

  #balance-container h3 {
    border-top-right-radius: 0;
  }
}
@media only screen and (max-width: 1087px) {
  h1 {
    width: 100%;
    margin-bottom: 0;
  }

  .total-container span {
    width: 70%;
    text-align: right;
  }

  input,
  select,
  #add {
    margin-right: 1rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  #income-container,
  #expense-container {
    width: 50%;
  }

  #expense-container h3 {
    border-top-right-radius: 5px;
  }

  #balance-container {
    width: 100%;
    height: 0;
  }

  #balance {
    height: 0;
    padding: 0;
  }

  #balance-container .total-container span {
    text-align: left;
  }

  #balance-container #total-balance {
    text-align: right;
    font-size: 0.9rem;
  }

  #balance-container .total-container {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  #wrapper {
    width: 95%;
  }

  input,
  select,
  #add {
    margin-right: 0;
  }

  #income-container,
  #expense-container,
  #input-container {
    width: 100%;
  }

  #income-container h3 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  #expense-container h3,
  #input-container h3 {
    border-radius: 0;
  }
}

@media only screen and (max-width: 660px) {
  h1 {
    text-align: center;
  }

  #input-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 640px) {
  #add {
    margin-top: 1rem;
    padding: 0 4.9rem;
  }

  input,
  select,
  #add {
    width: 48%;
  }

  #wrapper {
    width: 98%;
  }
}
