:root {
  --main-border-color: rgb(211, 211, 211);
  --main-background-color: rgb(241, 241, 241);
  --main-text-color: rgb(53, 53, 53);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgb(69, 67, 67);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
}

.App {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  min-width: 420px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  text-align: center;
  color: gray;
  width: 100%;
  font-size: 2rem;
  margin: 2.5rem 0 3.5rem;
}

.main {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid var(--main-border-color);
  border-radius: 2px;
  background-color: white;
  text-align: center;
}

#h3-income,
#h3-expense,
#h3-balance {
  padding: 1rem;
  border-bottom: 1px solid var(--main-border-color);
  color: gray;
  font-size: 1rem;
}

@media only screen and (max-width: 1272px) {
}
@media only screen and (max-width: 1087px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 660px) {
}

@media only screen and (max-width: 640px) {
}
